/* Breakpoint Mixin Examples
 *
 * SCSS example syntax for using the breakpoints mixin
 */

// Load Theme Core
@import '../core/breakpoints';

.responsive {
	/* 0px and up */
	/* Mobile Styles */
	width: 100%;
	margin: 0 auto;

	@include breakpoints(large) {
		/* Named min-width value */
		/* 1025px and up */
		/* Ex: Desktop Styles */
		max-width: 60rem;
	}

	@include breakpoints(medium, large) {
		/* Named min-width and max-width values: */
		/* 641px - 1024px */
		/* Ex: Tablet Only Styles */
		display: flex;
		flex-flow: row wrap;
	}

	@include breakpoints(none, xx-large) {
		/* Named max-width value only: */
		/* Up to 2800px */
		/* Ex: Desktop & Mobile only */
		background-size: cover;
	}

	@include breakpoints(240px, 24rem) {
		/* Custom width values: */
		/* 241px - 24rem */
		/* Ex: Arbitary Mobile Screen Sizes */
		font-size: 1.125rem;
	}

	@include breakpoints(none, none, print) {
		/* Custom media type */
		/* Print displays only */
		/* Ex: Typography for Print */
		font-size: 12pt;
		line-height: 2;
	}
}
