/**
 * Roundhouse Ad Slot styles
 */

// Include fade-in keyframes animation.
@include fade-in();

.ad {
	align-items: center;
	display: flex;
	justify-content: center;
}

.ad-position--site-header,
.ad-position--front-hero {
	@include full-bleed();
	margin-bottom: spacer(1);
	margin-top: spacer(1);
}

.ad-view {
	background: color(grey-very-light);
	color: color(grey-very-dark);
	display: none;
	overflow: hidden;
	position: relative;

	.ad__placeholder-text {
		@include absolute-pinned();
		align-items: center;
		background: fade-out( color(grey-very-very-light), 0.25 );
		display: flex;
		justify-content: center;
		opacity: 0;
		pointer-events: none;
		transition: opacity 125ms;
		z-index: z-index(interface);
	}

	.ad__image {
		@include absolute-center();
		position: absolute;
		z-index: z-index(first);
	}

	&:hover {
		box-shadow: 0 1px 1px fade-out( color(grey-light), 0.75 );

		.ad__placeholder-text {
			opacity: 1;
		}
	}

	// Responsive ad slot displays
	&.ad-view--all {
		display: flex;
	}

	&.ad-view--mobile {
		@include breakpoints(none,small) {
			display: flex;
		}
	}

	&.ad-view--tablet {
		@include breakpoints(small, large) {
			display: flex;
		}
	}

	&.ad-view--desktop {
		@include breakpoints(large) {
			display: flex;
		}
	}

	.ad__appeal {
		@include absolute-pinned();
		align-items: center;
		animation-delay: 3000ms;
		animation-duration: 1000ms;
		animation-fill-mode: forwards;
		animation-name: fadeIn;
		animation-timing-function: ease-in;
		background: $color--appeal;
		display: flex;
		justify-content: center;
		opacity: 0;
		z-index: z-index(neutral);

		&.ad__appeal--text {
			padding: spacer(2);
		}

		&.ad__appeal--button {
			a {
				@include absolute-pinned();
				align-items: center;
				border-radius: 0;
				display: flex;
				justify-content: center;
			}
		}

		span {
			max-width: 640px;
			text-align: center;
		}
	}
}
