/* Core Layout Values
 *
 * Default theme values
 */

// Max site width
$site-width: rem(1200);

// Max content width
$content-width: 40rem;

/* SCSS Layout Utilities
 *
 */

// Variable Width Full Bleed Mixin
@mixin full-bleed($width: 100vw) {
	margin-left: 50%;
	transform: translateX(-50%);
	width: #{$width};
}

// Adds vertical spacing to all child elements but the last
@mixin vertical-rhythym($spacing) {
	> * {
		margin-bottom: $spacing;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Makes an image frame at a width & height ratio
@mixin intrinsic-image($width, $height) {
	height: 0;
	overflow: hidden;
	padding-top: calc((#{$height}/#{$width}) * 100%);
	position: relative;
	width: 100%;

	> img,
	> source {
		position: absolute;
		// @TODO: add left, center, right align-x options
		left: 50%;
		transform: translateX(-50%);
		// @TODO: add top, center, bottom align-y options
		// @NOTE: if centering both x + y, combine translate()
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
