/* Core Layout Values
 *
 * Default theme values
 */

// Max site width
$site-width: rem(1200);

// Max content width
$content-width: 40rem;

/* SCSS Layout Utilities
 *
 */

// Variable Width Full Bleed Mixin
@mixin full-bleed($width: 100vw) {
	margin-left: 50%;
	transform: translateX(-50%);
	width: #{$width};
}

// Adds vertical spacing to all child elements but the last
@mixin vertical-rhythym($spacing) {

	> * {
		margin-bottom: $spacing;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Makes an image frame at a width & height ratio
@mixin intrinsic-image($width, $height, $align-x: center, $align-y: middle) {
	height: 0;
	overflow: hidden;
	padding-top: calc((#{$height}/#{$width}) * 100%);
	position: relative;
	width: 100%;

	> img,
	> source {
		position: absolute;
		// @TODO: add left, center, right align-x options
		// @TODO: add top, center, bottom align-y options
		// If 'center' & 'center'
		@if (($align-x == 'center') and ($align-y == 'middle')) {
			// do both (combine translate)
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
		@else {
			// do x
			@if ($align-x == 'left') {
				left: 0;
			}
			@else if ($align-x == 'center') {
				left: 50%;
				transform: translateX(-50%);
			}
			@else {
				right: 0;
			}
			// do y
			@if ($align-y == 'top') {
				top: 0;
			}
			@else if ($align-y == 'middle') {
				top: 50%;
				transform: translateY(-50%);
			}
			@else {
				bottom: 0;
			}
		}
	}
}
