/* Theme Defaults
 *
 * Default values for theme variables.
 * Override these options in `../theme/options.scss`
 */

// Default Colors
// see `./_colors.scss`

// Default Project Colors
$color-primary: hsl(120,30%,30%);
$color-secondary: color(red-dark);
$color-tertiary: color(blue-dark);
$color-highlight: color(red);

// Default Font Families
// see `./_typography.scss`

// Default Project Fonts
$font-body: 1rem/1.667 font-family(sans-serif);
$font-header: 700 1.5rem/1.667 font-family(sans-serif);
