.featured-image--empty {
	.featured-image__frame {
		background-color: $color-primary;
		background-image: url('../../img/image-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25% auto;
		box-shadow: 0 0 50vw rgba(0,0,0,0.333) inset;
	}
}
