/**
 * Main Navigation
 */

.site--mobile-nav {
	transition: transform 250ms;

	&.toggle__mobile-nav--active {
		transform: translate3d(-$width--mobile-menu, 0, 0);
		transition: transform 250ms;

		@include breakpoints(medium) {
			transform: none;
			transition: none;
		}
	}
}

.main-navigation {
	font: 500 1rem/#{calc(4/3)} font-family(display);
	min-width: $height--site-header-content;
	overflow: hidden;
	text-transform: uppercase;

	@include breakpoints(medium) {
		font-size: rem(20);
		line-height: 1;
	}
}

.main-navigation__menu-toggle {
	@include reset-button;
	@include hide-text;
	background-color: $color--primary;
	font-size: 2rem; // Affects mask-size scaling
	height: $width--menu-toggle;
	margin-left: auto;
	mask: url(../img/icon-menu.svg) no-repeat center;
	mask-size: cover;
	width: $width--menu-toggle;

	&[aria-expanded='true'] {
		mask: url(../img/icon-close.svg) no-repeat center;
	}

	@include breakpoints(medium) {
		display: none;
	}
}

.primary-nav {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX($width--mobile-menu);
	width: $width--mobile-menu;

	@include breakpoints(medium) {
		align-items: center;
		display: flex;
		height: 100%;
		margin-left: auto;
		position: relative;
		transform: none;
		width: auto;
	}

	> ul,
	.primary-nav__menu {
		list-style: none;
		margin: 0;

		@include breakpoints(medium) {
			align-items: flex-start;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}

		> li {
			border-bottom: 1px solid $color--text;
			color: $color--text;

			@include breakpoints(medium) {
				align-items: center;
				border-bottom: none;
				display: flex;
				margin: 0 0 0 spacer(1);
				white-space: nowrap;

				&:first-of-type {
					margin-bottom: spacer(1);
					margin-left: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		a {
			display: flex;
			padding: 1em;
			text-decoration: none;

			@include breakpoints(medium) {
				@include link-hover;
				padding: 0;
			}
		}

		ul {
			list-style: none;
			margin: 0;

			li {
				border-top: 1px solid color(grey-tint);
				padding-left: spacer(1);
			}
		}
	}

	.search-form {
		width: 100%;
		max-width: none;
		height: rem(48);

		@include breakpoints(medium) {
			display: none;
		}

		.search-field {
			width: 100%;
			border: none;
			border-bottom: $border--solid;
			padding: spacer(1);
			padding-right: spacer(3);

			&::placeholder {
				color: color(grey-very-light);
			}
		}

		.search-submit {
			background-size: rem(20) rem(20);
			height: rem(40);
			right: rem(4);
			top: rem(4);
			width: rem(40);
		}
	}

	.social-links {
		@include breakpoints(medium) {
			display: none;
		}

		li {
			flex: 1 0 auto;
			width: 20%;
			border: none;
		}

		a {
			max-width: 100%;
			height: rem(64);
			// color: $color--text-alt; is it safe to remove this?
			padding: 0;
		}
	}
}

/* Top Level Main Navigation Option */
.main-navigation--top-level {
	li > ul {
		display: none;
	}
}

/* Priority Nav Main Navigation Option */
.main-navigation--priority-nav {
	@include breakpoints(medium) {
		align-items: center;

		.primary-nav__menu {
			flex-wrap: wrap;
			max-height: $height--site-header-content;
			overflow: hidden;

			li {
				height: $height--site-header-content;
			}

			li > ul {
				display: none;
			}
		}
	}
}
