/**
 * Site Header Styles
 */

.site-header {
	border-bottom: $border--solid;
	display: flex;
	flex: 0 0 auto;
	height: auto;
	margin-bottom: $margin-bottom--site-header;
	padding: spacer(1) 0;
	width: 100%;
	z-index: z-index(interface);

	@include breakpoints(large) {
		align-items: center;
	}

	.site-header__search-form {
		width: calc( 100% + #{spacer(2)} );
	}

	.search-form {
		height: rem(32);
		max-width: rem(240);
		min-width: rem(160);
		position: relative;
	}

	.search-field {
		@include absolute-pinned();
		border-radius: 0;
		border: $border--page;
		font-size: rem(14);
		padding-right: spacer(2);

		&::placeholder {
			color: color(grey-very-very-light);
		}
	}

	.search-submit {
		@include reset-button;
		@include hide-text;
		background: url('../img/icon-search.svg') center no-repeat;
		background-size: rem(16) rem(16);
		height: rem(28);
		position: absolute;
		right: rem(2);
		top: rem(2);
		width: rem(28);
	}
}

.site-header__wrapper {
	@include wrapper();
	display: flex;
}

.site-header__branding {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	justify-content: center;
	margin-right: spacer(1);

	@include breakpoints(medium) {
		flex: 1 0 auto;
	}

	@include breakpoints(large) {
		flex-direction: row;
	}
}

.site-header__title {
	align-items: center;
	display: flex;
	font: $font--branding;
	letter-spacing: letter-spacing(125);
	margin: 0;
	text-transform: uppercase;

	a {
		color: $color--primary;
		display: block;
		text-decoration: none;
	}
}

.site-logo {
	img,
	svg {
		height: $height--site-header-content;
		width: auto;
	}
}

.site-header__description {
	align-items: center;
	display: flex;
	line-height: 1;
	padding-top: 1em;

	@include breakpoints(large) {
		border-left: 1px solid $color--text;
		margin-left: spacer(1);
		padding-left: spacer(1);
		padding-top: 0;
	}
}

.site-header__navigation {
	flex: 0 0 $width--menu-toggle;
	height: $width--menu-toggle;
	margin-left: auto;
	max-height: 100%;

	@include breakpoints(medium) {
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		height: auto;
	}
}

.site-header__utilities {
	display: none;
}

.site-header__social-links {
	margin-bottom: spacer(0.5);
}

/* Sticky Site Header Option */
.site-header--sticky {
	position: fixed;
	background-color: $color--background;
	max-height: $height--site-header;

	& + * {
		padding-top: $height--site-header + $margin-bottom--site-header;
	}

	.site-header__wrapper {
		height: $height--site-header-content;
	}

	@include breakpoints(none, large) {
		.site-header__description {
			display: none;
		}
	}
}
