/**
 * Site Footer Styles
 */

.site-footer {
	border-top: $border--solid;
	margin-top: auto;
	padding: spacer(1) 0 0;
}

.site-footer__wrapper {
	@include wrapper;
	line-height: 1;
	margin-bottom: spacer(1);
	text-align: center;
	width: 100%;
}

.footer-utilities__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0 0 spacer(0.5);
	text-align: center;

	@include breakpoints(none, small) {
		flex-wrap: wrap;
	}

	li {
		@include separator('', spacer(0.25));
		margin-bottom: 0.5em;
		white-space: nowrap;

		@include breakpoints(small) {
			@include separator('|', spacer(0.25));
		}

		> ul {
			display: none;
		}
	}
}

.site-info {
	display: block;
	font: $font--body;
	font-size: rem(14);
	margin-bottom: spacer(0.5);
	text-align: center;

	@include breakpoints(small) {
		display: inline-block;
	}

	a {
		@include link-hover;
		color: $color--text;
		font-weight: 700;

		&:hover {
			color: $color--highlight;
		}
	}

	.copyright__year,
	.copyright__author {
		text-transform: uppercase;
	}

	.copyright__year {
		font-variant-numeric: tabular-nums;
	}

	.copyright__author {
		font-family: font-family(logotype);
	}

	.copyright__notice {
		font-size: rem(12);
		display: block;
	}

	.site-info__terms + .site-info__privacy {
		&::before {
			content: '\0026\2009';
			display: inline-block;
		}
	}
}
