/**
 * Site Header Styles
 */

.site-header {
	border-bottom: 1px solid $color--text;
	display: flex;
	flex: 0 0 auto;
	height: auto;
	margin-bottom: $margin-bottom--site-header;
	padding: spacer(1) 0;
	width: 100%;
	z-index: z-index(interface);

	@include breakpoints(large) {
		align-items: center;
	}
}

.site-header__wrapper {
	@include wrapper();
	display: flex;
}

.site-header__branding {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	margin-right: spacer(1);

	@include breakpoints(medium) {
		flex: 1 0 auto;
	}

	@include breakpoints(large) {
		flex-direction: row;
	}
}

.site-header__title {
	align-items: center;
	display: flex;
	font: $font--branding;
	letter-spacing: letter-spacing(125);
	margin: 0;
	text-transform: uppercase;

	a {
		color: $color--primary;
		display: block;
		text-decoration: none;
	}
}

.site-logo {
	img,
	svg {
		height: $height--site-header-content;
		width: auto;
	}
}

.site-header__description {
	align-items: center;
	display: flex;
	line-height: 1;
	padding-top: 1em;

	@include breakpoints(large) {
		border-left: 1px solid $color--text;
		margin-left: spacer(1);
		padding-left: spacer(1);
		padding-top: 0;
	}
}

.site-header__navigation {
	flex: 0 0 $height--site-header-content;
	height: $height--site-header-content;
	margin-left: auto;
	max-height: 100%;

	@include breakpoints(small) {
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		height: auto;
	}
}

/* Sticky Site Header Option */
.site-header--sticky {
	position: fixed;
	background-color: $color--background;
	max-height: $height--site-header;

	& + * {
		padding-top: $height--site-header + $margin-bottom--site-header;
	}

	.site-header__wrapper {
		height: $height--site-header-content;
	}

	@include breakpoints(none, large) {
		.site-header__description {
			display: none;
		}
	}
}
