/**
 * Post Thumbnail styles
 */

.post-thumbnail {
	margin-bottom: spacer(1);
	display: block;
}

.post-thumbnail__frame,
.post-thumbnail__link {
	> img {
		@include absolute-pinned();
		@include image-fill();
	}
}

.post-thumbnail__frame {
	@include aspect-ratio();
}

.post-thumbnail__link {
	@include aspect-ratio(16, 9);
	display: block;
}

.post-thumbnail__caption {
	@include figure-caption();
}
