/*
 * Main Navigation
 *
 * Primary menu in the site-header.
 * Options:
 * 	 - Top Level Only
 *   - Priority Nav
 */

/* Default main navigation */
.main-navigation {
	display: flex;
	flex: 1 1 auto;
	max-height: 100%;

	> div[class^='menu'] {
		margin-left: auto;
	}

	.menu {
		display: flex;

		> li {
			margin: 0 0 0 spacer(1);

			&:first-of-type {
				margin: 0;
			}

			a {
				display: block;
				text-decoration: none;
			}
		}
	}
}

/* Top Level Only main navigation */
.main-navigation--top-level {
	li > ul {
		display: none;
	}
}

/* Priority Nav main navigation */
.main-navigation--priority-nav {
	.menu {
		flex-wrap: wrap;
		justify-content: flex-end;
		max-height: rem(26);
		overflow: hidden;

		li > ul {
			display: none;
		}
	}
}

.menu-toggle {
	/* DEV */
	display: none;
}
