/* Site
 *
 * Global layout and base styles
 */

html {
	overflow-x: hidden;
	max-width: 100vw;
	font-size: calc((#{$unit}/16) * 100%);
}

body {
	font: $font-body;
}

.site {
	max-width: $site-width;
	margin: 0 auto;
}

.content-area {
	max-width: $content-width;
}

body {
	@include breakpoints(none, x-small) {
		background-color: green;
	}
	@include breakpoints(small, 1000px) {
		background-color: red;
	}
	@include breakpoints(x-large) {
		font-size: 1.5em;
	}
}
