/*
 * Site Footer
 *
 * Global site footer.
 */

.comments-area,
.widget-area {
	display: none;
}

.site-footer {
	background-color: color(light-grey);
	margin-top: auto;
	padding: spacer(1);
	text-align: center;
}
