/* Site Header */

.site-header {
	background-color: color(white);
	width: 100%;
	padding: spacer(0.5);
	display: flex;
	z-index: z-index('site-header');
	height: $site-header-height;
	margin-bottom: $site-header-margin-bottom;

	a {
		&:hover,
		&:active,
		&:visited,
		&:focus {
			color: inherit;
		}
	}
}

.site-header--sticky {
	position: fixed;
	border-bottom: 1px solid color(black);

	& ~ .site-content {
		padding-top: $site-header-height + $site-header-margin-bottom;
	}
}

.site-branding {
	flex: 0 0 auto;
	margin-right: 1em;
}

.site-title {
	font: $font-header;
	margin: 0;
	line-height: 1;
	letter-spacing: 0.0125em;

	a {
		display: block;
		text-decoration: none;
	}
}
