/* Theme Overrides
 *
 * Custom values for theme variables.
 * Overrides defaults in `../core/theme-defaults.scss`
 */

// Custom Breakpoints
// @see `../core/_breakpoints.scss`
$custom-breakpoints: ();
$breakpoints: map-merge($breakpoints, $custom-breakpoints);

// Custom Colors
// @see `../core/_colors.scss`
$custom-colors: ();
$colors: map-merge($colors, $custom-colors);

// Custom Project Colors
// @see `../core/_theme-defaults.scss`

// Custom Font Families
// @see `../core/_typography.scss`
$custom-font-families: ();
$font-families: map-merge($font-families, $custom-font-families);

// Custom Project Fonts
// @see `../core/_theme-defaults.scss`
