.feature-image--full {
	.site-main {
		padding-top: 100vh;
	}

	.post-thumbnail {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		left: 50%;
		transform: translateX(-50%);

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

.feature-image--wide {
	.site-main {
		padding-top: calc(#{$site-width} * (9 / 16));
	}

	.post-thumbnail {
		position: absolute;
		top: 0;
		width: $site-width;
		height: 0;
		padding-top: calc((9 / 16) * #{$site-width});
		left: 50%;
		transform: translateX(-50%);
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
